body {
  color: white;
  background-color: black;
  font-family: courier;
  text-align: center;
  background-image: URL("./Images/noisy-texture-100x100-o42-d100-c-000000-t0.png");
}

img {
  border-radius: 10%;
}

a {
  color: green;
}

a:hover {
  color: #41FF00;
}

