body {
  color: white;
  background-color: black;
  font-family: courier;
  text-align: center;
}

img {
  width: 40%;
  height: auto;
  border-radius: 20%;
}

a {
  color: green;
}

a:hover {
  color: purple;
}

div {
  background-image: URL("./Images/noisy-texture-100x100-o84-d78-c-000000-t0.png");
  width: 50%;
  height: 700px;
  border-radius: 20%;
  align: center;
  display: block;
  margin: auto;
  padding: 20px;
   box-shadow: 1px 1px 30px #555 inset;
}
