body {
  text-align: center;
  color: white;
  background-size: 1280px;
  background-repeat: no-repeat;
  background-color: #008080;
  height: calc(100vh - 8em);
  padding: 4em;
}

@font-face {
  font-family: msSansSerif;
  src: url(micross.woff);
}

.graybar {
  background-color: #c8c4c4;
}

.bio {
  font-family: msSansSerif;
}              
