body {
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
    text-align: center;
    background-image: url("back.png");
    background-repeat: repeat;
}

ol {
    text-align: justify;
    color: green;
    font-family: Times;
    text-decoration: underline;
    }
    
h1 {
    text-align: center;
}


ul {
    display: none;
}


#glider {
    height: 100px; 
    width: 100px;
    max-width:100%;
    align: center;
}

#hidden {
    position: absolute;
    align: center;
}

#one {
    display: none;
}

#hidden {
 display: inline;
}

