body {
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
    text-align: center;
    background-image: url("back.png");
    background-repeat: repeat;
}

ol {
    text-align: center;
    color: green;
    font-family: Times;
    }
    
h1 {
    text-align: center;
}


ul {
    display: none;
}


#glider {
    height: 100px; 
    width: 100px;
    max-width:100%;
}

#hidden {
    position: absolute;
}

li {
    border: 2px solid gray;
    padding: 8px 10px;
}

#one {
    display: none;
}

#hidden {
 display: inline;
}

