body {
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
    text-align: center;
    background-image: url("back.png");
    background-repeat: repeat;
}

ol {
    text-align: center;
    }
    
h1 {
    text-align: center;
}


ul {
    display: none;
}


#glider {
    display: block;
    margin: 0 auto;
    position: absolute;
}

#hidden {
    display: inline;
}

li {
    border: 2px solid gray;
    padding: 8px 10px;
}
