body {
  background-color: black;
  color: white;
  text-align: center;
  background-size: 130vh;
  background-repeat: no-repeat;
}

h1 {
  font-family: Times;
}

.scroll-box {
    background: #f4f4f4;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 400px; /* maximum height of the box */
    background-image: URL("./Images/background_transparent.png");
    background-size: 500px 400px;
    background-color: black;
    padding: 15px;
    width: 50%;
    overflow-y: scroll;
    border-radius: 20%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  
}
