body {
    background-color: black;
    background-image: url("noisy-texture-100x100-o84-d78-c-000000-t0.png");
    color: white;
}
 #logo {
     height: 360px;
     width: 200px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
      border-radius: 20px; 
 }

 #y {
    color: yellow;
 }

 .button5 {
    background-color: black;
    color: white;
    border: 2px solid green;
}

.button5:hover {
    background-color: white;
    color: green;
} 

div {
    text-align: center;
}