body {
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
    text-align: center;
    background-image: url("noisy-texture-100x100-o21-d34-c-1f1c1c-t0.png");
    background-repeat:  no-repeat;
}

nav select {
  display: none;
}

@media (max-width: 960px) {
  nav ul     { display: none; }
  nav select { display: inline-block; }
}
