body {
    background-color: #5AC9FF;
    background-image: url("noisy-texture-100x100-o84-d78-c-000000-t0.png");
    background-repeat: repeat;
    font-family: 'Courier New', Courier, monospace;
    color: #373232;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
  }

#color {
      color:red
  }

#color1 {
    color:orange
}

#color2 {
    color:yellow
}

#color3 {
    color:green
}

#color4 {
    color:blue
}

#color5 {
    color:purple
}

#color6 {
    color:red
}

#color7 {
    color:orange
}

#color8 {
    color:yellow
}

#color9 {
    color:green
}

#color10 {
    color:blue
}

#color11 {
    color:purple
}

#color12 {
    color:pink
}

#color13 {
    color:purple
}

#info {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    padding: 2em;
    margin: 3em auto;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #f4f6f8;
    max-width: 48em;
    box-shadow: 1px 1px 5px #e0e0e0;
    text-align: center;
    background-color: rgba(255, 207, 121, 0.3);
    box-shadow: 12px 12px 8px 0px             rgba(0,0,0,0.3);
  }

  #buttons {
      text-align: center;
  }

  img {
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    #audio {
        text-align: center;
    }