body {
  text-align: center;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-image:URL("./Images/Beautiful-Skull-Wallpaper.jpg");
}

span, a {
  color: green;
  font-family: monospace;
  font-size: 20px;

}
a:hover {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
background-position: bottom;
background-repeat: repeat-x;
background-size: 20%;
border-bottom: 0;
padding-bottom: .3em;
text-decoration: none;
color: white;
}

h1 {

  text-shadow: 2px 2px #9c9c9c;
  font-family: courier;
  padding: 10px;
}

p.quote {
  font-family: fantasy;
  font-size: 14px;
  padding: 10px;
}

main {
  left: 600px;
  position: absolute;
}
