html {
  text-align: center;
  font-family: monospace;
}

img {
  border-radius: 50%;
  padding: 5px;
  border: solid 1px black;
  width: 100%; 
  max-width: 400px;
  margin: auto;
  display: block
}

main {
    border: 1px solid black;
    justify-content: space-around;
}

p {
   font-size: min(50vw,16px);
}


nav {
      border: 1px solid black;
      padding: 5px;
      font-size: min(50vw,16px);
}

span, a {
  color: black;
  font-size: min(50vw,16px);
}

a:hover {
 color:  #5af542;
}

h2 {
  padding: 10px;
  font-size: min(55vw,20px);
}

.line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 4vw;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(35) 1s 1 normal both,
             blinkTextCursor 500ms steps(35) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 10em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: black;}
  to{border-right-color: transparent;}
}
