body {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
    color: #87f266;
    padding-bottom: 1em;
    cursor: url('./Images/screamin_green_pixel.PNG'), auto;
}

.container {
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
}

.sidebar {
    width: 250px; 
    padding: 20px;
    background-color: black;
    border-width: 2.5px;
    border-style: solid;
    border-color: #87f266;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0; 
}

.content {
    flex-grow: 1;
    padding: 10px;
    overflow: auto; 
}

.navbar {
    display: inline-flex; 
    justify-content: center;
    padding: 10px;
    border-width: 2.5px;
    border-style: solid;
    border-color: #87f266;
    background-color: black;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #87f266;
    transition: background 0.3s;
}

.navbar a:hover {
    background-color: white;
    color: #000;
    cursor: url('./Images/screamin_green_pixel - Hover.PNG'), auto;
}

.talks-content {
    margin-top: 20px;
    text-align: center;
    max-width: 100%; 
}

.talks-content a {
    display: inline-block;
    margin: 5px 0;
}

.responsive-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 20px 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #87f266;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #87f266;
    text-align: center;
}

p {
    text-align: center;
}

a {
    color: #87f266;
    transition: color 0.3s;
}

a:hover {
    color: #183b1e;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    border-top: 2.5px solid #87f266;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: center;
    }

    .sidebar {
        width: 100%;
        max-width: 300px;
        margin: 20px auto;
    }

    .content {
        width: 100%; 
        max-width: 300px;
        margin-top: 20px; 
    }

    .navbar {
        width: auto;
        flex-direction: column;
    }

    .navbar a {
        margin: 10px 0;
    }
}
