
body {
    background-image:url("noisy-texture-100x100-o21-d34-c-1f1c1c-t0.png");
    background-repeat: repeat;
    background-color:black;
    
}

#giff {
    height: 100px; 
    width: 200px;
    max-width:100%;
}

#chibi {
    height: 300px; 
    width: 300px;
    max-width:100%;
}

#felis {
    height: 10px; 
    width: 10px;
    max-width:100%;
}
